{% extends 'webapp/base.html' %}
{% load static %}
{% block content %}

<div class="container">

  {% if student.group_notice.count == 0 %}
  <h2>Brak notatek.</h2>
  {% else %}

  {% for notice in student.group_notice.all %}
  <div class="notice">
  <div class="row">
    <div class="col-md-1">
      {% if notice.teacher.teacher_profile_pic %}
      <img src="{{ notice.teacher.teacher_profile_pic.url }}" class="notice-img">
      {% else %}
      <img src="{% static 'images/login-avatar.PNG' %}" class="notice-img">
      {% endif %}
    </div>
    <div class="col-md-11">
      <div class="notice-details">
        <div class="row">
        <div class="col-md-3">
          <h5>Wysłana przez {{ notice.teacher.user.user.get_full_name }}</h5>
        </div>

        <div class="col-md-3">
          <h5>{{ notice.created_at }}</h5>
        </div>
        </div>
        <hr>
        <h2>{{ notice.message|safe }}</h2>
        </div>
    </div>
  </div>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}