{% extends 'webapp/base.html' %}
{% load static %}
{% block content %}
<div class="profile">
  <div class="profile-box">
    {% if teacher.teacher_profile_pic %}
    <img src="{{ teacher.teacher_profile_pic.url }}" alt="">
    {% else %}
    <img src="{% static 'images/login-avatar.PNG' %}" alt="">
    {% endif %}
    <div class="profile-details">
      <h1>{{ teacher.user.user.get_full_name }}</h1>
      <br>
      <p><i class="far fa-user"></i> Login: {{ teacher.user }}</p>
      <p><i class="far fa-envelope-open-text"></i> Email ID: {{ teacher.email }}</p>

    </div>
  </div>
</div>





{% endblock %}